<%- include("partials/header.ejs") %>
<!-- Quill editor stylesheet -->
<!-- <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" /> -->

<p><%= locals.date %></p>
<div id="blog-content">
    <h1><%= locals.title %></h1>
    <p><%= locals.summary %></p>
    <div id="blog-text"><%- locals.content %></div>
</div>
<form id="edit-blog-content-form" action="/update/<%= locals.id%>" method="post">
    <label for="blog-title">Blog title</label>
    <input type="text" name="title" id="blog-title" value="<%= locals.title %>" required>
    <label for="edit-blog-content">Edit Blog Post</label>
    <label for="blog-summary">Blog summary</label>
    <input type="text" name="summary" id="blog-summary" value="<%= locals.summary %>">
    <div id="editor">
        <%- locals.content %>
    </div>
    <input type="hidden" name="content" id="edit-blog-content">
    <input type="submit" value="submit">
</form>
<div class="button--wrapper">
    <button id="edit-blog-post" type="button">Edit Post</button>
    <form id="delete-blog-post" method="POST" action="/blog-post/<%= locals.id%>?_method=DELETE">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit">Delete Post</button>
    </form>
</div>

<div class="button--wrapper"><a href="/">Go back</a></div>

<script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
<script>
    // const blogText = document.querySelector('#blog-text');
    // console.log(blogText.innerHTML);
    // blogText.innerHTML = blogText.innerHTML.replace(/<p>\s*<\/p>/g, '');
    const initialData = {
        title: '',
    };

    const quill = new Quill('#editor', {
        modules: {
            toolbar: [
                ['bold', 'italic', 'strike', 'code'],
                ['link', 'blockquote','code-block'],
                [{ list: 'ordered' }, { list: 'bullet' }],
                [{ header: [2, 3, false] },'clean']
            ],
        },
        // placeholder: '"Hey, you! Yeah, the one pretending to work—let\'s waste five minutes together, shall we?"...',
        theme: 'snow',
    });

    // quill.keyboard.addBinding({
    //         key: 'enter', // Enter key
    //         shiftKey: true,
    //     }, function (range, context) {
    //         alert('Shift + Enter pressed');
    //         this.quill.insettText(range.index, '\n', 'user');
    //         this.quill.setSelection(range.index + 1, Quill.sources.SILENT); // Moves cursor

    //     });






    // const resetForm = () => {
    //     // document.querySelector('[name="title"]').value = initialData.title;
    //     quill.setContents(initialData.content);
    // };

    // resetForm();

    const form = document.querySelector('#edit-blog-content-form');
    const editBlogBtn = document.querySelector('#edit-blog-post')
    const deleteBlogBtn = document.querySelector('#delete-blog-post')

    form.addEventListener('submit', (event) => {
        // Quill editor text content is always at minimum 1 character with new line `\n`
        if(quill.getText().length < 2) {
            // event.preventDefault();
            event.preventDefault()
            alert('Please write something before submitting.');
            return;
        }
        const formData = new FormData(form)
    })

    form.addEventListener('formdata', (event) => {
        // Append Quill content before submitting
        // console.log('formdata event triggered');
        event.formData.append('content', quill.getSemanticHTML());
        // console.log('data sent')
    });

    editBlogBtn.addEventListener('click', (event) => {
        document.querySelector('#blog-content').style.display = 'none';
        document.querySelector('#edit-blog-content-form').style.display = 'block';
        event.target.style.display = 'none';
    });

    deleteBlogBtn.addEventListener('submit', (event) => {
        event.preventDefault()
        const confirmDeletePost = confirm('Are you sure you want to delete this blog post?')
        if(confirmDeletePost) {
            deleteBlogBtn.submit()
        }
    });


</script>

<%- include("partials/footer.ejs") %>
