<%- include("partials/header.ejs") %>

<% if(locals.message) { %>
    <h1><%= locals.message %></h1>
<% } else { %>
    <h1>Richard's Blog Site</h1>
<% } %>

<div class="grid">
    <% for (const [i, blog] of locals.data.entries()) { %>
        <% if (i === 0) { %>
            <article id="<%= blog.id %>" class="article featured">
                <p><%= blog.date %></p>
                <h2>Latest Post</h2>
                <a href="/blog-post/<%= blog.id %>" data-blog-id="<%= blog.id%>">
                    <%= `${blog.title}` %>
                </a>
                <div class="summary"><p><%- blog.summary %></p></div>
            </Article>
        <% } else { %>
            <article id="<%= blog.id %>" class="article">
                <p><%= blog.date %></p>
                <a href="/blog-post/<%= blog.id %>" data-blog-id="<%= blog.id%>">
                    <%= `${blog.title}` %>
                </a>
                <div class="summary"><p><%- blog.summary %></p></div>
            </Article>
        <% } %>
    <% } %>
</div>

<%- include("partials/footer.ejs") %>
